<!-- app is the parent component for navbar,heros and post components -->
<app-navbar></app-navbar>
<h1>{{title}}</h1>
<app-heroes></app-heroes>
<!-- sending parentMessage data to post(child) component from app(parent) component-->
<!-- 1. Use property binding to bind the item property in the child to the currentItem property of the parent. [fromParent]='parentMessage'-->
<!--2.  Binding event emitter(messageEvent) to post component method(receiveMessage).subscribe to the emitted event(messageEvent) by binding to it in the parent's template using the (event) syntax -->
<app-post [fromParent]='parentMessage' (messageEvent)="receiveMessage($event)"></app-post>
<!-- Showing data which come from post child component after the btn click -->
<p class="childMessage">{{messageFromPost}}</p>

<!-- String interpolation -->
<h1>String Interpolation</h1>
<img src="{{imageUrl}}" alt="" srcset="">
<!-- Property Binding -->
<img [src]="imageUrl" alt="" srcset="">
<!-- Class Binding -->
<h1 [class.class-binding-text]="bool">Class Binding</h1>
<!-- Style Binding -->
<h1 [style.color]="bool ? 'red':''">Style Binding</h1>
<!--Event Filtering :to take the value of input field(old way) -->
<!-- <input type="text" (keyup.enter)="onKeyUp($event)"> -->
<!-- New way :Template varible -->
<h5>using template varible for two way data binding</h5>
<input type="text" (keyup.enter)="onKeyUp(username.value)" #username>

<!-- Two way Data Binding using ngModel. To pass data from component to html and html to componet -->
<h5>using ngModel to  for two way data binding</h5>
<input type="text" [(ngModel)]="user" (keyup.enter)="onkeyUp2()">

<!-- Making a form -->
<h1 class="form-title">Form Building</h1>
<div class="fomt-style">
<input type="text" placeholder="Post Title" [(ngModel)]="postTitle">
<textarea name="" id="" cols="30" rows="10" placeholder="Post Content" [(ngModel)]="postDetails"></textarea>
<input type="text" placeholder="Post Image URL" [(ngModel)]="postImageUrl">
<input type="text" placeholder="Post URL" [(ngModel)]="postUrl">
<input type="checkbox" [(ngModel)]="addBack">Add Background
<button (click)="onSubmit()">Submit</button>
</div>

<div class="preview-area">
  <h1>Post Title: {{postTitle}}</h1>
  <p>Post Content: {{postDetails}}</p>
  <img [src]="postImageUrl" alt="" srcset="">
  <div [class.background]="addBack"></div>
</div>

<!-- ngFor -->
<h1>ngFor</h1>
<div>
  <ol>
    <li *ngFor="let user of users">{{user}}</li>
  </ol>
  <ol>
    <li *ngFor="let adminObj of admins"> {{adminObj?.name || 'No Data'}}</li>
  </ol>
</div>
<!-- ANgular change detection mechanism -->
<h1>Angular change detection</h1>
<ol>
  <!-- *ngFor for looping -->
  <li *ngFor="let adminObj of admins">{{adminObj?.name}}
    <button (click)="deleteUser(adminObj)">Delete</button>
  </li>
</ol>
<button class="add-btn" (click)="addNewUser()">Add New User</button>

<!-- *ngIf for -->
<h1>ngIf</h1>
<div *ngIf="admins.length>0">
  <ol>
    <li *ngFor="let adminObj of admins">{{adminObj?.name}}
      <button (click)="deleteUser(adminObj)">Delete</button>
    </li>
  </ol>
</div>
<div *ngIf="admins.length ===0">
  <h1>No Data</h1>
</div>

<!-- using *ng-Templete to do conditional rendering -->
<h1>ng-template</h1>
<div *ngIf="admins.length>0 then adminList else noData" ></div>
<ng-template #adminList>
  <ol>
    <li *ngFor="let adminObj of admins">{{adminObj?.name}}
      <button (click)="deleteUser(adminObj)">Delete</button>
    </li>
  </ol>
</ng-template>
<ng-template #noData>
  <p>No Data</p>
</ng-template>

<!-- ngStyle Directive -->
<h1 [ngStyle]="{color:bool ?'blue' :'red',fontSize:bool ?'30px' :'20px',backgroundColor:bool ?'green' :'yellow'
}">ngStyle Directive</h1>
<!-- ngClass Directive -->
<h1 [ngClass]="{ngText:bool}">ngClass Directive</h1>

<!-- Pipes -->
<h1>Pipes</h1>
<h2>{{name}}</h2>
<h2>{{name | uppercase}}</h2>
<h2>{{name | lowercase}}</h2>
<h2>{{name | slice:3}}</h2>
<h2>{{name | slice:3:5}}</h2>
<h2>{{person | json}}</h2>
<h2>{{5.678 | number:'1.2-3'}}</h2>
<h2>{{5.678 | number:'3.4-5'}}</h2>
<h2>{{0.25 | percent}}</h2>
<h2>{{0.25 | currency}}</h2>
<h2>{{0.25 | currency:'GBP':'code'}}</h2>
<h2>{{date}}</h2>
<h2>{{date | date:'short'}}</h2>
<h2>{{date | date:'shortDate'}}</h2>
<!-- Creating cutom pipe -->

